<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,0,0"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/assets/css/login.css" />
  </head>
  <body>
    <header>
      <nav class="navbar">
        <!-- <nav class="navbar navbar-expand-lg bg-body-tertiary"> -->
        <span class="hamburger-btn material-symbols-rounded"> menu </span>
        <!-- <div class="container-fluid"> -->
        <div class="menuNav">
          <a class="logo" href="/">
            <img class="logoTODO" />
          </a>
          <a class="logo" href="/todo">
            <h2 class="textLogo">To do List</h2>
          </a>
        </div>
        <div class="d-flex gap-3" role="search">
          <input
            id="registerButton"
            class="btn btn-primary"
            type="button"
            value="Register"
            data-bs-toggle="modal"
            data-bs-target="#modalRegister"
            data-bs-whatever="@modalregister"
          />

          <input
            id="loginButton"
            class="btn btn-primary"
            type="button"
            value="Login"
            data-bs-toggle="modal"
            data-bs-target="#modalLogin"
            data-bs-whatever="@modalLogin"
          />
        </div>
        <!-- </div> -->
        <!-- </nav> -->
      </nav>
    </header>

    <!-- Modal Register -->
    <div
      class="modal fade"
      id="modalRegister"
      tabindex="-1"
      aria-labelledby="ModalRegisterUser"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="ModalRegisterUser">Register</h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <form id="RegisterUsers">
              <div class="mb-3">
                <label for="registerUsers" class="col-form-label"
                  >Full Name:</label
                >
                <input type="text" class="form-control" id="registerUsers" />
              </div>
              <div class="mb-3">
                <label for="registerEmail" class="col-form-label">Email:</label>
                <input class="form-control" id="registerEmail" />
              </div>
              <div class="mb-3">
                <label for="registerPassword" class="col-form-label"
                  >Password:</label
                >
                <input
                  class="form-control"
                  id="registerPassword"
                  type="password"
                />
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-danger"
              data-bs-dismiss="modal"
            >
              Close
            </button>
            <button
              type="button"
              class="btn btn-success"
              onclick="registerUser()"
            >
              Register
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal Login -->
    <div
      class="modal fade"
      id="modalLogin"
      tabindex="-1"
      aria-labelledby="modalLoginUser"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="modalLoginUser">Login</h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <form>
              <div class="mb-3">
                <label for="message-text" class="col-form-label">Email:</label>
                <input class="form-control" id="loginEmail" type="email" />
              </div>
              <div class="mb-3">
                <label for="message-text" class="col-form-label"
                  >Password:</label
                >
                <input
                  class="form-control"
                  id="loginPassword"
                  type="password"
                />
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-danger"
              data-bs-dismiss="modal"
            >
              Close
            </button>
            <button
              type="button"
              class="btn btn-success"
              id="loginBtn"
              onclick="loginUser()"
            >
              Login
            </button>
          </div>
        </div>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="assets/js/login.js"></script>
  </body>
</html>
